header {
    background-color: lightcoral;
    color: whitesmoke;
}
h2 {
    background-color: cornflowerblue;
    color: violet; 
}
h3 {
    background-color: navy;
    color: goldenrod;
}
img{
    filter: hue-rotate(45deg) brightness(90%);
 }
 

 /* Blur: filter: blur(2px);
 Brightness: filter: brightness(90%)
Blur: filter: blur(9px)
Saturation: filter: saturate(4)
Opacity: filter: oapcity(0.3)
Hue: filter: hue-rotate(45deg)
Drop Shadow: filter: drop-shadow(30px 10px 4px #4444dd)
Grayscale: filter: grayscale(100%);
*/